<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/public/js/cadastrar_bilhete.js" ></script>
  <script src="/public/js/gerar_bilhete.js" ></script>
  <title>Termos de Uso</title>
</head>

<body class="body-termoaceite">

  <a href="/"><img src="/public/img/a.png" width="150"></a>

  <svg class="circulo" viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="myGradient">
        <stop offset="3%" stop-color="#246e91" />
        <stop offset="90%" stop-color="#002352" />
      </linearGradient>
    </defs>

    <circle cx="15" cy="5" r="4" fill="none" stroke="url(#myGradient)" />
  </svg>

  <svg class="circulo1" viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="myGradient1">
        <stop offset="40%" stop-color="#002352" />
        <stop offset="90%" stop-color="#246e91" />
      </linearGradient>
    </defs>

    <circle cx="0" cy="0" r="4" fill="none" stroke="url(#myGradient1)" />
  </svg>

  <article class="termodeaceite">
    <h2> Termos de Uso e Regrade de Utilização</h2>
    <p>Estes Termos de Uso entram em vigor a partir de 28 de setembro de 2022.</p>
    <p>Bem-vindo ao PUCPASS! Estes Termos de Utilização aplicam-se à sua utilização da
      plataforma de comunicação visual do PUCPASS. Ao utilizar o Serviço, concorda que
      estes termos se tornarão um acordo juridicamente vinculativo entre si e a Entidade
      Contratante do PUCPASS identificada nestes Termos.</p>
    Visão geral
    <p>Com o objetivo garantir viagens mais seguras e agilizar o embarque dos usuários do
      transporte público coletivo, o software PUCPASS é uma plataforma de comercialização
      de bilhetes urbanos que permite que as pessoas criem novos bilhetes, façam recargas
      e emitam relatórios gerenciais.</p>
    Produtos:
    Os tipos de recarga serão separados em 4 categorias.</b>
    <p>Para o Bilhete único o sistema irá debitar o crédito do bilhete, e dará ao usuário o
      direito de utilizar o mesmo bilhete em quantos transportes quiser, por um
      período de 40 minutos. Deverá aparecer mensagem ao usuário mostrando as
      regras de utilização e o tempo restante para utilização do Bilhete único. </p>
    <p>Para o Bilhete duplo o sistema irá debitar um crédito do bilhete. Para
      cada período de utilização do Bilhete duplo o usuário poderá utilizar o mesmo bilhete
      em quantos transportes quiser, por um período de 40 minutos. Deverá aparecer mensagem
      ao usuário mostrando as regras de utilização e o tempo restante para utilização do
      Bilhete duplo e a quantidade de crédito do bilhete. </p>
    <p>Para o Bilhete de 7 dias o sistema deverá guardar a data e hora da primeira utilização
      do bilhete. Este tipo de bilhete dará ao usuário o direito de utilizar o transporte
      público quantas vezes quiser durante o período de 7 dias, contados a partir da primeira
      utilização do bilhete. Deverá aparecer mensagem ao usuário mostrando as regras de utilização
      e o tempo restante para utilização deste bilhete. </p>
    <p>Para o Bilhete de 30 dias o sistema deverá guardar a data e hora da primeira utilização do bilhete.
      Este tipo de bilhete dará ao usuário o direito de utilizar o transporte público quantas vezes quiser
      durante o período de 30 dias, contados a partir da primeira utilização do bilhete. </p>


    <a href="/geraBilhete" class="link-termo" id="btnTermo" type="button">Li e aceito</a>




  </article>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/public/js/cadastrar_bilhete.js" ></script>
  <script src="/public/js/gerar_bilhete.js" ></script>
</body>

</html>